.text {
  display: flex;
  align-items: center;

  font-weight: 600;
}

.key {
  font-size: 12px;
  line-height: 18px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: var(--gray-color);
}

.value {
  font-size: 14px;
  line-height: 21px;

  color: var(--primary-color);
}
