# CI and vendors
.github
.husky
.vercel

# package managers
node_modules
package-lock.json
.yarn
yarn.lock
.yarnrc.yml
/.pnp
.pnp.cjs
.pnp.js
.pnp.loader.mjs

# testing
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# app
.next
dist
public

# lib
lib
