.input {
  composes: visuallyHidden from global;
}

.input + .label {
  display: flex;

  width: 50%;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  position: relative;

  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: var(--primary-color);
  border: 1px solid var(--primary-border-color);
  background-color: var(--white-color);
  cursor: pointer;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.input + .label:first-of-type {
  border-radius: var(--primary-border-radius) 0 0 var(--primary-border-radius);
  border-right: none;
}

.input + .label:last-of-type {
  border-radius: 0 var(--primary-border-radius) var(--primary-border-radius) 0;
  border-left: none;
}

.input:focus-visible + .label {
  outline: var(--default-outline);
  outline-offset: var(--default-outline-offset);
  border-color: var(--secondary-color);
  z-index: 1;
}

.input:hover + .label {
  border-color: var(--secondary-color);
  background-color: var(--primary-background);
}

.input:checked + .label {
  cursor: default;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-color: var(--secondary-color);
}
