.input {
  composes: visuallyHidden from global;
}

.input + .label {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0 20px;

  min-height: 40px;

  position: relative;

  font-weight: normal;
  font-size: 13px;
  line-height: 20px;

  color: var(--primary-color);

  cursor: pointer;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.input + .label:before {
  content: '';

  display: flex;
  box-sizing: border-box;

  width: 20px;
  height: 20px;
  min-width: 20px;

  margin-right: 10px;

  border-radius: var(--secondary-border-radius);
  border: 1px solid var(--secondary-border-color);
}

.input:checked + .label:before {
  border: 1px solid var(--secondary-color);
  background-image: url('/aviasales/checkbox-mark.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.input:focus-visible + .label:before {
  outline: var(--default-outline);
  outline-offset: var(--default-outline-offset);
  z-index: 1;
}

.input:hover + .label {
  background-color: var(--primary-background);
}
